app = "slapjack-server"
primary_region = "iad"

[build]
  dockerfile = "server/Dockerfile"

[env]
  PORT = "8080"
  REDIS_URL = "redis://localhost:6379"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = "connections"
    hard_limit = 1000
    soft_limit = 800

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
